
# FVM Version Cache
.fvm/
native/target/*
example/.dart_tool/
example/build/
media/.dart_tool/
media/build/
native/temp
.dart_tool/
release-assets/
platform-builds/
dist/
test_linux/
build/*
.idea/*
.dart_tool/*
.flutter-plugins-dependencies
melos_media.iml
workspace.xml