dist/**/*.msix filter=lfs diff=lfs merge=lfs -text
:(glob)dist/**/*.msix filter=lfs diff=lfs merge=lfs -text
platform-builds/macos/x86_64-apple-darwin/libmedia.dylib filter=lfs diff=lfs merge=lfs -text
platform-builds/macos/aarch64-apple-darwin/libmedia.dylib filter=lfs diff=lfs merge=lfs -text
dist/0.1.0/media-0.1.0-android.apk filter=lfs diff=lfs merge=lfs -text
dist/0.1.0/media-0.1.0-macos.dmg filter=lfs diff=lfs merge=lfs -text
platform-builds/android/aarch64-linux-android/libmedia.so filter=lfs diff=lfs merge=lfs -text
platform-builds/android/armv7-linux-androideabi/libmedia.so filter=lfs diff=lfs merge=lfs -text
platform-builds/android/x86_64-linux-android/libmedia.so filter=lfs diff=lfs merge=lfs -text
platform-builds/ios/aarch64-apple-ios-sim/libmedia.dylib filter=lfs diff=lfs merge=lfs -text
platform-builds/ios/aarch64-apple-ios/libmedia.dylib filter=lfs diff=lfs merge=lfs -text
platform-builds/ios/x86_64-apple-ios/libmedia.dylib filter=lfs diff=lfs merge=lfs -text
