[env]
PKG_CONFIG_ALLOW_CROSS = "1"

[target.aarch64-apple-ios]
rustflags = ["-C", "link-arg=-mios-version-min=16.0"]

[target.aarch64-apple-ios-sim]
rustflags = ["-C", "link-arg=-mios-simulator-version-min=16.0"]
