[package]
name = "media"
version = "0.0.1+1"
edition = "2021"

[lib]
name = "media"
crate-type = ["cdylib", "rlib", "staticlib"]

[dependencies]
flutter_rust_bridge = "=2.11.1"
ffmpeg-next = "8"
anyhow = "1"
thiserror = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
image = { version = "0.25" }
